body{
	font-family: 'Noto Serif JP', serif;
	font-weight:300;
	background-color: #DDD;
}

div#main-content{
	padding-top:20px;
}

h1{
	font-weight:300;
	font-size:80px;
	writing-mode: vertical-rl;
}

div.dialy-box h3{
	font-weight:700;
}

div.dialy .subtitle{
	font-weight:700;
	font-size:1.3em;
}

div.dialy{
	white-space: pre-wrap;
	padding-left:20px;
	font-weight:500;
}