body{
	font-family: 'Noto Serif JP', serif;
	font-weight:300;
	background-color: #DDD;
}

div#main-content{
	padding-top:20px;
}

h1{
	font-weight:300;
	font-size:60px;
}

div#side-menu h1{
	font-size:80px;
	writing-mode: vertical-rl;
}

div.diary-box h3{
	font-weight:700;
}

div.diary .subtitle{
	font-weight:700;
	font-size:1.3em;
}

div.diary-box.draft{
    display:none;
}

div.diary{
	white-space: pre-wrap;
	padding-left:20px;
	font-weight:500;
}

div.footer{
    padding-left:20px;
    margin-bottom:20px;
}